# 가상환경
.venv/
venv/
env/

# 런타임 산출물
recorded.wav
result/

# macOS
.DS_Store

# Python 캐시
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# IDE
.idea/
.vscode/
*.iml

# Node.js
node_modules/
gta-frontend/node_modules/
package-lock.json

# Binaries
ffmpeg.exe
ffprobe.exe
CapStone_venv